h1 {
    background-color:black;
    color:white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2 {
    background-color:indigo;
    color:white;
    text-align: center;
    height: 30px;

}
h3 {
    background-color:lightskyblue;
    color:black;
    text-align: right;
    text-decoration-line: underline;
    height: 30px;

}